<h1>Compound Interest Calculator</h1>
<p>Hi, welcome to this compound interest calculator application</p>
<p>This simple application will accept your parameters of your initial sum ( known as the Principal), the rate of interest, and the number of years which will pass.
<p>It will return the future value of your investment based on the data you enter.</p>
<button>New Caluculation</button>
